*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  width: 100vw;
  background-color: #151515;
}

.clr-purple {
  background-color: #6e72fc;
}

.up-and-down {
  animation: up-and-down 1s infinite ease-out alternate;
}

@keyframes up-and-down {
  100% {
    transform: translateY(-1.2rem);
  }
}

.center-absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.grp {
  scroll-snap-align: start;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

.grp > * {
  margin-block: 0.5rem;
}

.container {
  width: 100vw;
  min-height: 100vh;
  background-color: #151515;
  margin-block: 1rem;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

.txt-info {
  font-size: 1.5rem;
  color: white;
}

.txt-center {
  text-align: center;
}

.txt-large {
  font-size: 2rem;
  color: white;
}
.bold {
  font-weight: 600;
}
.rounded {
  border-radius: 2rem;
}
.grp > img {
  width: 100%;
}

.pulsate {
  animation: pulsating 1s infinite ease-out;
}

@keyframes pulsating {
  0% {
    transform: scale(0.8);
  }
  10% {
    transform: scale(0.9);
  }
  20% {
    transform: scale(0.8);
  }
  30% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(0.8);
  }
}

.styled-text {
  font-size: 4rem;
  /* background: linear-gradient(45deg, #ad1deb 50%, #6e72fc 50%);
  -webkit-background-clip: text;
  background-clip: text; */
  color: #6e72fc;
}

header,
footer {
  border: none;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #151515;
  color: rgb(0 122 255);
  /* background-image: linear-gradient(
    50deg,
    hsl(240deg 100% 20%) 0%,
    hsl(284deg 100% 28%) 33%,
    hsl(328deg 100% 35%) 50%,
    hsl(11deg 100% 43%) 67%,
    hsl(55deg 100% 50%) 100%
  ); */
}

.bday-girl-img {
  /* position: absolute; */
  object-fit: contain;
  width: 100%;
  /* height: 100%; */
  border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
  animation: wierd-blob 10s ease-out infinite alternate;
}

@keyframes wierd-blob {
  0% {
    border-radius: 70% 30% 30% 70% / 60% 80% 60% 40%;
  }
  20% {
    border-radius: 60% 20% 20% 60% / 55% 80% 55% 45%;
  }
  40% {
    border-radius: 65% 40% 40% 65% / 66% 36% 66% 36%;
  }
  60% {
    border-radius: 50% 25% 25% 50% / 60% 40% 60% 40%;
  }
  80% {
    border-radius: 77% 35% 35% 77% / 55% 45% 55% 45%;
  }
  100% {
    border-radius: 50% 10% 10% 50% / 66% 36% 66% 36%;
  }
}

.bday-wish-text {
  color: white;
}

.bday-girl-img-grp {
  background-size: cover;
  /* opacity: 0.5; */
  background-blend-mode: lighten;

  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  background-image: url(./media/munazza.jpeg);
  background-position: center;
}

header h1 {
  font-size: 2rem;
}

.animation {
  height: 50vh;
  position: relative;
  overflow: hidden;
  background-color: #151515;
}

.paper-plane {
  width: 8rem;
  position: absolute;
  left: 0;
  top: 50%;
}
